<!-- US43 création d'événement -->

<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créer Événement</title>
</head>
<body>
    <h1>Nouvel Événement</h1>
    <form th:action="@{/api/evenements/creer}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        
        <label>Titre*:</label>
        <input type="text" th:field="*{evenement.titre}" required>
        
        <label>Description*:</label>
        <textarea th:field="*{evenement.description}" required></textarea>
        
        <label>Contenu:</label>
        <textarea th:field="*{evenement.contenu}"></textarea>
        
        <button type="submit">Créer</button>
    </form>
    <p th:if="${message}" th:text="${message}"></p>
</body>
</html>