<!-- US01 création de profile personnel -->

<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créer un Utilisateur</title>
</head>

<body>
    <h1>Inscription</h1>

    <div th:if="${message}" class="error-message" th:text="${message}"></div>

    <form th:action="@{/api/utilisateurs/creer}" th:object="${utilisateur}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <table>
            <tr>
                <td>Nom :</td>
                <td><input type="text" th:field="*{nom}" placeholder="Entrez votre nom" required /></td>
            </tr>
            <tr>
                <td>Prénom :</td>
                <td><input type="text" th:field="*{prenom}" placeholder="Entrez votre prénom" required /></td>
            </tr>
            <tr>
                <td>Email :</td>
                <td><input type="email" th:field="*{email}" placeholder="exemple@domaine.fr" required /></td>
            </tr>
            <tr>
                <td>Mot de passe :</td>
                <td><input type="password" th:field="*{mdp}" placeholder="Mot de passe" required /></td>
            </tr>
        </table>

        <button type="submit">Créer</button>
    </form>


</body>

</html>