<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Envoyer un message</title></head>
<body>
    <h1>Envoyer un message privé</h1>

    <form th:action="@{/messages/envoyer}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input type="hidden" name="destinataireId" th:value="${destinataireId}" />

        <label>Message :</label><br/>
        <textarea name="contenu" rows="5" cols="40"></textarea><br/>

        <button type="submit">Envoyer</button>
    </form>
</body>
</html>
