<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Form demande Ami</title></head>

<body>
    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
    <div th:if="${success}" class="alert alert-success" th:text="${success}"></div>

    <div th:unless="${destinataireId}" >
        <h2>Ajouter des amis manuellement</h2>
        <form action="/demandes/envoyer" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <label>siair ID de votre destinaire</label>
            <input type="number" name="destinaireId" required>
            <button type="submit">envoyer</button>
        </form>
    </div>
    <div th:if="${destinataireId}">
        <h2>Comfirmer demande ami</h2>
        <P>vous allez envoyer un demande ami a<span th:text="${destinataireId}">ID</span></P>
    
        <form action="/demandes/envoyer" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <input type="hidden" name="destinataireId" th:value ="${destinataireId}">
            <button type="submit">confirmer</button>
        </form>
    </div>

    <a href="/accueueil">returner acceuil</a>

</html>