<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mes groupes</title>
</head>
<body>
<h2>Mes groupes créés</h2>

<table>
    <tr>
        <th>Nom</th>
        <th>Description</th>
        <th>Date de création</th>
    </tr>
    <tr th:each="g : ${groupes}">
        <td th:text="${g.nom}"></td>
        <td th:text="${g.description}"></td>
        <td th:text="${#temporals.format(g.dtCreation, 'dd/MM/yyyy HH:mm')}"></td>
    </tr>

    <form th:action="@{/groupes/{id}/supprimer(id=${groupe.id})}" method="post"
      th:if="${groupe.createur.email == #authentication.name}">
    <button type="submit">Supprimer</button>
    <button type="submit" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce groupe ?')">Supprimer</button>
</form>
</table>
</body>
</html>