<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recherche d'utilisateurs</title>
</head>
<body>
    <h1>Recherche d'utilisateurs</h1>

    <form th:action="@{/api/utilisateurs/search}" method="get">
        <label for="q">Mot-clé :</label>
        <input type="text" id="q" name="q" th:value="${keyword}" required>
        <button type="submit">Rechercher</button>
    </form>

    <div th:if="${resultats != null}">
        <ul th:if="${#lists.isEmpty(resultats)}">
            <li>Aucun utilisateur trouvé.</li>
        </ul >
        <h2>Résultats :</h2>
        <table th:if="${!#lists.isEmpty(resultats)}">
            <thead>
                <tr>
                    <th>Nom utilisateur</th>
                    <th>Demande Ami</th>
                </tr>
            </thead>
            <tbody>
    <tr th:each="u : ${resultats}">
        <td th:text="${u.nom}">user</td>
        <td th:text="${u.email}">email</td>
        <td>
            <a th:href="@{/demandes/form/{id}(id=${u.id})}">Ajouter ami</a>
        </td>
        <td>
            <a th:href="@{/api/utilisateurs/profil/{id}(id=${u.id})}">
                [[${u.prenom}]] [[${u.nom}]]
            </a>
        </td>
    </tr>
</tbody>

        </table>

    </div>
</body>
</html>
